@media (min-width: 1320px) {
  .container {
    width: 1320px;
    margin: auto;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > div:nth-of-type(1) {
  display: flex;
  align-items: center;
}
header > div:nth-of-type(1) > img {
  margin-left: 15px;
  width: 167px;
  height: 32px;
}
header > div:nth-of-type(1) > p {
  margin-left: 30px;
  padding: 12px 13px 12.13px 47px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #757575;
}
header > div:nth-of-type(2) {
  display: flex;
  align-items: center;
}
header > div:nth-of-type(2) > a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #05073C;
}
header > div:nth-of-type(2) > a:nth-of-type(1) {
  margin: 11px 42.8px 11.13px 20px;
}
header > div:nth-of-type(2) > a:nth-of-type(2) {
  margin: 11px 42.8px 11.13px 20px;
}
header > div:nth-of-type(2) > a:nth-of-type(3) {
  margin: 11px 42.8px 11.13px 20px;
}
header > div:nth-of-type(2) > button {
  padding: 12px 21px 12.08px 21px;
  border-radius: 40px;
  margin-left: 29.8px;
  border: none;
  background-color: #EB662B;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 28px;
  text-align: center;
}

#form {
  margin-bottom: 105px;
  padding-bottom: 15px;
  width: 880px;
  padding-left: 15px;
  padding-right: 15px;
}
#form > h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}
#form > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0em;
  line-height: 28px;
  text-align: left;
}
#form > div:nth-of-type(1) {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  padding-right: 357.98px;
}
#form > div:nth-of-type(1) > p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

#f_cards > h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 29px;
  letter-spacing: 0em;
  line-height: 45px;
  text-align: left;
}

#form_btn > button {
  width: 203.31px;
  height: 62px;
  text-align: center;
  background-color: #eb662b;
  border: none;
  border-radius: 12px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

#cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 149px;
}
#cards > div {
  padding: 11px 0px 0px 0px;
  width: 300px;
  height: 375.31px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 12px;
}
#cards > div > img {
  margin: 0px 11px 0px 11px;
}
#cards > div > div {
  border-top: 1px solid rgb(199, 199, 199);
  display: flex;
  justify-content: space-between;
  margin: 0px 21px 11px 21px;
}
#cards > div > div > div {
  padding-left: 21px;
}
#cards > div > div > div > p {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
#cards > div > p:nth-of-type(1) {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 24px;
  color: #717171;
  text-align: left;
  margin: 10px 0px 5.99px 42px;
}
#cards > div > p:nth-of-type(2) {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 24px;
  color: #05073C;
  text-align: left;
  margin: 10px 0px 0px 101px;
}
#cards > div > h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 24px;
  text-align: left;
  margin: 0px 29.6px 10px 21px;
}

footer {
  background-image: url(./Footer.png);
}
footer > div {
  height: 655.13px;
}
footer > div > div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  padding: 94.31px 0px 0px 95px;
  border-bottom: 1px solid #fccbb6;
}
footer > div > div:nth-of-type(1) > p:nth-of-type(1) {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}
footer > div > div:nth-of-type(1) > p:nth-of-type(2) {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 169.8px;
}/*# sourceMappingURL=style.css.map */